.icon {
  &--button {
    width: 12px;
  }
  &--section {
    width: 16px;
    padding: 5px 0;
    @include tablet {
      width: 20px;
    }
  }
}

.fav__card {
  &--icon {
    width: 12px;
    height: 12px;
    align-self: center;
    margin-bottom: -2px;
  }
}
