.icon {
  &--button {
    width: 12px;
  }
  &--section {
    width: 20px;
  }
}

.fav__card {
  &--icon {
    width: 12px;
    height: 12px;
    align-self: center;
    margin-bottom: -2px;
  }
}
