<main class="main">
  <section class="main__fav js-main-fav">
    <header class="main__fav--header">
      <img src="./assets/images/icons/favs.svg" alt="favs" class="icon--section">
      <h2 class="main__fav--title">Favs</h2>
      <button type="reset" class="main__fav--button button js-delete-all"><img src="./assets/images/icons/delete.svg" alt="delete" class="icon--button"><span class="button__title">Todos</span></button>
    </header>
    <section class="fav js-favorites"></section>
  </section>
  <section class="main__res js-main-res">
    <header class="main__res--header">
      <img src="./assets/images/icons/results.svg" alt="results" class="icon--section">
      <h2 class="main__res--title">Resultados</h2>
    </header>
    <section class="res js-results"></section>
  </section>
</main>
