// Typography
$font-titles: 'Otomanopee One', sans-serif;
$font-text: 'Titillium Web', sans-serif;;

// Primary Colors
$color-first: rgb(226, 108, 11);
$color-sec: rgb(77, 41, 11);

// Secondary Colors
$color-medium: rgb(245, 149, 70);
$color-dark: rgb(194, 95, 14);

// B&W Colors
$color-gr-light: rgb(215, 215, 215);
$color-gr-medium: rgb(150, 150, 150);
$color-gr-dark: rgb(65, 65, 65);


